<!doctype html>
<html>
<head>
<title>Where Is X</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="top-container">
            <div class="center">
                <p class="hnthin" id="flashes">{{ message }}</p>
            </div>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</body>
</html>
