{% extends "layout.html" %}
{% block body %}
    <h1>Enter some text</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="" method="POST">
        <input type="text" name="username" value="jsmith">
        <input type="email" name="email" value="jsmith@gmail.com">
        <input type="text" name="firstname" value="John">
        <input type="text" name="lastname" value="Smith">
        <input type="password" name="password">
        <input type="submit" name="register-form" value="Submit">
    </form>
{% endblock %}
